doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title=contacto
		link(rel="stylesheet",href="css/font-awesome.min.css")
		link(rel="stylesheet",href="css/icomoon.css")
		link(rel="stylesheet",href="css/bootstrap.min.css")
		script(type="text/javascript",src="js/jquery.easing.min.js")
		script(type="text/javascript",src="js/booststrap.min.js")
		link(rel="stylesheet",href="css/main.css")
	body.fondo_contc
		form.form-horizontal
			.h1.btp Formulario User Testing 360
			hr.btp
			.form-group
				label.col-sm-2.control-label(for='inputEmail3') Nombre
				.col-sm-10
					input.form-control#inputEmail3(type='email' placeholder='Email')
			.form-group
				label.col-sm-2.control-label(for='inputPassword3') Email
				.col-sm-10
					input.form-control#inputEmail3(type='password' placeholder='Password')
			.form-group
				label.col-sm-2.control-label(for='inputPassword3') Deja tu URL
				.col-sm-10
					input.form-control#inputEmail3(type='password' placeholder='Password')
			.form-group.text-center
				button.btn.btn-sm.btn-primary(type='submit') Enviar Email
				P.pull-left Pawer by Laboratoria
				p.pull-right Report abuse
